<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Gracias por confiar en MundoRec</h1>
    <p>
      En este email encontrara los datos para poder utilizar nuestra plataforma online de pedidos.    <br/>
        Su Usuario es:<b><%= @user.email %>.</b><br/>

      Su password es: <b><%= @user.password %></b>
    </p>
    <p>
      Para comenzar solo haga click en el siguiente link: <a><%= @url %></a>.

    </p>
    <p>Muchas gracias y que tenga un excelente dia!</p>
  </body>
</html>